<div class='card'>
  <div class='footer'>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p><span class='specs'>When: </span>{{date}}</p>
    <p><span class='specs'>Where: </span>{{address}}</p>
    {{#each members}}
      <ul>
        <li>{{this.username}}</li>
      </ul>
    {{/each}}
  </div>
</div>