<div class='card'>
  {{#if image}}
    <img class='group-img' src='{{image}}' alt={{name}} />
  {{else}}
    <div class='no-image'>No image</div>
  {{/if}}
  <div class="footer">
    <h4>{{name}}</h4>
    <p>{{description}}</p>
    {{!-- {{#each members}}
    <ul>
      <li>{{this.username}}</li>
    </ul>
    {{/each}} --}}
  </div>
</div>