<div class="card" style="min-width: 10rem;">
  <img
    class="card-img-top"
    src="{{image}}"
    alt="{{name}}"
    style="width:100px;height:100px;"
  />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p
      class="card-text text-truncate"
      style="max-width: 150px;"
    >{{description}}</p>
    <a href="/groups/{{id}}" class="btn btn-primary">View Group</a>
  </div>
</div>