<div class="card mb-3">
  <h5>{{username}}{{OurMessege}}</h5>
  {{#if group.image}}
    <img
      class="card-img-top"
      src="{{group.image}}"
      alt={{group.name}}
      height="200px"
      width="200px"
    />
  {{else}}
    <img
      class="card-img-top"
      src="/images/default.png"
      alt={{group.name}}
      height="200px"
    />
  {{/if}}
  <div class="card-body">
    <h5 class="card-title">{{group.name}}</h5>
    <p class="card-text">{{group.description}}</p>


    <div class='card-text events-div'>
      <hr/>
      <h4>Events</h4>
      <div style="display: flex; flex-flow: row wrap;">
      {{#each group.events}}
        {{> eventPartial this}}
      {{/each}}
      </div>
    </div>

    <div class='card-text'>
      <hr/>
      <h4>Group Members</h4>
      <ul style="display: flex; flex-flow:row wrap;">
        {{#each group.members}}
          <li class="btn btn-outline-success" style="margin:5px">
            {{this.username}}
          </li>
        {{/each}}
      </ul>
    </div>

    <div >
      <hr/>
      <form class="btn btn-primary"
        action='/groups/{{group._id}}/add'
        method='POST'
        >
        <button type="submit" class="btn btn-primary">
          Join this group
        </button>
      </form>

      {{#if isAdmin}}
      <h4>Admin Actions</h4>
      {{> editEventPartial this }}
      <div class="admin-actions">
        <form 
        action="/groups/{{group._id}}/events/new"
        method='GET'
        >
        <button type="submit" class="btn btn-primary">
          Create Event
        </button>
      </form>

      <form 
        action="/groups/{{group._id}}/edit"
        method='GET'
        >
        <button type="submit" class="btn btn-primary">
          Edit Group       
        </button>
      </form>

      <form
        action="/groups/{{group._id}}/delete" 
        method="POST">
      <button type="submit" class="btn btn-primary">
        Delete Group ❌
      </button>
    </form>
      </div>
      {{/if}}
    </div>
  </div>
</div>
