<h1>Group Details</h1>
<div class='card'>
  {{#if group.image}}
    <img class='group-img' src='{{group.image}}' alt={{group.name}} />
  {{else}}
    <div class='no-image'>No image</div>
  {{/if}}
  <div class="footer">
    <h2>{{group.name}}</h2>
    <p>{{group.description}}</p>
    <div class="events-div">
      {{#if group.events}}
      <h3>Upcoming events</h3>
      {{#each group.events}}
      <div class="event">
        <p>{{name}}</p>
        <p>{{description}}</p>
        <p>When: {{date}}</p>
        <p>Where: {{address}}</p>
        <p>Host: {{groupCreator}}</p>
      </div>
      {{/each}}
      {{else}}
      <p>No events</p>
    </div>
      {{/if}}
    <form class="join-group-form-btn" action="/groups/{{group._id}}/add" method="POST">
      <button type="submit">Join this group</button>
    </form>
    {{#each group.members}}
    <ul>
      <li>{{this.username}}</li>
    </ul>
    {{/each}}
  </div>
</div>











