{{username}}{{OurMessege}}
<main class='main'>
  <nav class="side-nav">
    {{#if isGroupCreator }}
      <form action="/groups/{{group._id}}/events/new" method="GET">
        <button class="button" type="submit">Create an Event</button>
      </form>
      <form action="/groups/{{group._id}}/edit" method="GET">
        <button class="button" type="submit">Update this group</button>
      </form>
      <form action="/groups/{{group._id}}/delete" method="POST">
        <button class="button" type="submit">Delete this group ❌</button>
      </form>
      <div class='events-div'>
      {{#each group.events}}
        {{> eventPartial this}}
      {{/each}}
    </div>
    {{else}}
      <form
        class='join-group-btn button'
        action='/groups/{{group._id}}/add'
        method='POST'
      >
      <button type='submit'>Join this group</button>
    </form><div class='events-div'>
      {{#each group.events}}
        {{> eventPartial this}}
      {{/each}}
    </div>
  </nav>
  <article class="article">
    <div>
      <img class='group-img' src='{{group.imagePath}}' alt={{group.name}} />
      <h1 class="group-name">{{group.name}}</h1>
      <p>{{group.description}}</p>
    </div>
  {{/if}}
  </article>
  <aside class="aside">
    <div class="group-members-div">
      <h2 class="members">Group Members</h2>
    {{#each group.members}}
      <ul>
        <li>{{this.username}}</li>
      </ul>
    {{/each}}
    </div>
  </aside>
  
    
    
    
    
    
</main>